$black: #333;
$primary: #385f71;
$green: #14cc89;
$red: #ff715b;
$pink: #f46197;
$yellow: #fac30f;
$mint: #8de2de;
$blue: #56ccf2;
$creme: #fbfefb;

.primary {
  color: $primary;
}

.green {
  color: $green;
}

.red {
  color: $red;
}

.pink {
  color: $pink;
}

.yellow {
  color: $yellow;
}

.mint {
  color: $mint;
}

.blue {
  color: $blue;
}
